.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bt1 {
  float: left;
  font-size: xx-large;
  height: 100px;
  width: 100px;
  border: 2px solid red;
  background-color: white;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  color: red;
}
.bt2 {
  font-size: xx-large;
  float: left;
  height: 100px;
  width: 100px;
  border: 2px solid red;
  background-color: red;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  color: white;
}
.bt2:hover {
  cursor: pointer;
}
.bt1:hover {
  cursor: pointer;
}
.in {
  float: left;
  font-size: xx-large;
  text-align: center;
  height: 94px;
  width: 100px;
  border-left: none;
  border-right: 2px solid red;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  background-color: lightsalmon;
  border-radius: 0%;
  color: Red;
}
